creds.env
k8s/build
k8s/base/infra/kafka.Secret.yaml
k8s/base/infra/ocir.Secret.yaml
**/.venv
**/*.yaml.bak
server.cert
server.key

.terraform
terraform/*.tfvars
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/TF_VARS.sh
terraform/*.txt
terraform/*.pem
terraform/kubeconfig
images/web/src/__pycache__
.terraform.lock.hcl
