creds.env
k8s/build
**/.venv
**/*.yaml.bak

.terraform
terraform/*.tfvars
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/TF_VARS.sh
terraform/*.txt
terraform/*.pem
terraform/kubeconfig
images/web/src/__pycache__
