html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.line {
    fill: none;
    /* stroke: steelblue; */
    stroke-width: 2px;
  }

.header {
    height: 52px;
    background: rgb(83, 83, 83);
}
.header h1 {
  padding: 5px 15px 5px;
  color: #ffffff;
}